<html>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <!-- Do something with the message -->
                <p>{{ message }}</p><br>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <h1>{{ name }}</h1>

    {% if free[0][0] %}
        <form method="POST" action="">
            {% if key %}
                Enrollment Key<input type="text" name="ek">
            {% endif %}
            <input type="submit" value="enroll">
    {% else %}
        <p>Course is already full</p>
    {% endif %}
    </form>
</html>