{% extends "layout.html" %}
{% block title %}
{% endblock %}
{% block content %}
    <div>
        <a href="{{ url_for('view_course') }}">View Courses</a>
        {% if "user" in session %}
            <a href="{{ url_for('logout') }}">Log Out</a>
        {% endif %}
    </div>
    <div>
        <form method="POST" action="">
            Name <input type="text" name="nm"><br>
            Enroll Key <input type="text" name="ek"><br>
            No of free places <input type="number" name="fp"><br>
            <p>Description</p>
            <textarea name="des" rows="8" cols="80"></textarea><br>
            <input type="submit" value="create">
        </form>
    </div>
{% endblock %}