{% extends "layout.html" %}
{% block title %}
{% endblock %}
{% block content %}
    <div>
        <a href="{{ url_for('new_course') }}">Create Course</a>
        <a href="{{ url_for('view_course') }}">View Courses</a>
        {% if "user" in session %}
            <a href="{{ url_for('logout') }}">Log Out</a>
        {% endif %}
    </div>
    <div>
        <h1>{{ name }}</h1>
        <form method="POST" action="">
            {% if key %}
                Enrollment Key<input type="text" name="ek">
            {% endif %}
            <input type="submit" value="enroll">
        </form>
    </div>
{% endblock %}