{% extends "layout.html" %}
{% block title %}
{% endblock %}
{% block content %}
    <div>
        <a href="{{ url_for('view_main') }}">Home</a>
        <a href="{{ url_for('login') }}">LogIn</a>
    </div>
    <div>
        <p><h1>Register</h1></p>
        <form method="POST" action="">
            Name: <input type="text" name="nm">
            Email: <input type="email" name="em">
            Password: <input type="password" name="ps">
            <input type="submit" value="register">
        </form>
    </div>
{% endblock %}