{% extends "layout.html" %}
{% block title %}
{% endblock %}
{% block content %}
    <div>
        <a href="{{ url_for('new_course') }}">Create Course</a>
        <a href="{{ url_for('view_course') }}">View Courses</a>
        {% if "user" in session %}
            <a href="{{ url_for('logout') }}">Log Out</a>
        {% endif %}
    </div>
    <br>
    <div>
        Course: {{ objCourse[0][0] }} <br>

        <form action="" method="POST">
            Task Name: <input type="text" name="tsk">
            Description: <input type="text" name="des">
            <input type="submit" value="submit">
        </form>
    </div>
{% endblock %}
