<html>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <!-- Do something with the message -->
                <p>{{ message }}</p><br>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <a href="{{ url_for('view_main') }}">Main Page</a>
    <a href="{{ url_for('new_course') }}">Create Course</a>
    <p><h1>My Courses</h1></p>
   {% for val in value %}
       <p>ID: {{ val[0] }}</p>
       <p>Name: <a href="{{ url_for('view_course_detail', cid=val[0]) }}">{{ val[1] }}</a></p>
       <p>Description: {{ val[2] }}</p>
       <p>Enrollment key: {{ val[3] }}</p>
       <p>Free Places: {{ val[4] }}</p>
       <p>Creator: {{ val[5] }}</p>
    {% endfor %}

    <p><h1>Available Courses</h1></p>
    {% if values %}
        {% for vals in values %}
       <p>ID: {{ vals[0] }}</p>
       <p>Name: <a href="{{ url_for('view_course_detail', cid=vals[0]) }}">{{ vals[1] }}</a></p>
       <p>Description: {{ vals[2] }}</p>
       <p>Enrollment key: {{ vals[3] }}</p>
       <p>Free Places: {{ vals[4] }}</p>
       <p>Creator: {{ vals[5] }}</p>
        {% endfor %}
    {% else %}
        <p>No available courses right now</p>
    {% endif %}

</html>